fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
SQLAlchemy==2.0.35
python-dotenv==1.0.1
geoip2==4.8.0
PyYAML==6.0.2
APScheduler==3.10.4
prometheus-client==0.21.0
email-validator==2.2.0
ipaddress==1.0.23
requests==2.32.3
